table {
	text-align: left;
	position: relative;
	border-collapse: collapse; 
	background-color: #f6f6f6;
	font-size: 12px;
}

td, th {
	border: 1px solid #999;
	padding: 10px;
}

td {
	text-align: left;
}

th {
	background: brown;
	color: white;
	border-radius: 0;
	position: sticky;
	top: 0;
	/* padding: 10px; */
}

img {
	width: 392px;
}